<section class="w-full">
  {% if component.title or component.subtitle or component.link %}
    <div
      class="border-stroke flex flex-col items-start justify-between gap-y-3 border-b px-6 pt-20 pb-10 xl:flex-row xl:items-center xl:px-10 xl:pt-30 xl:pb-20"
    >
      <div class="flex flex-col gap-10">
        {% if component.title %}
          <h4 class="heading-h4 blur-in font-semibold">
            {{ component.title }}
          </h4>
        {% endif %}
        {% if component.subtitle %}
          <p class="blur-in text-xl leading-[150%] font-normal xl:w-2/3">
            {{ component.subtitle }}
          </p>
        {% endif %}
      </div>
      {% if component.link %}
        <a
          href="{{ component.link.url }}"
          target="{{ component.link.target ? : "_self" }}"
          class="blur-in text-tight text-red group flex items-center gap-2 text-xl font-semibold"
        >
          <span class="link-underline">{{ component.link.title }}</span>
          {{
            include("icons/generic/arrow-right.svg")|attr({
              class: "size-6 transition-transform duration-500 ease-out group-hover:translate-x-2"
            })
          }}
        </a>
      {% endif %}
    </div>
  {% endif %}

  {% if component.items %}
    {% set count = component.items|length %}
    {% set show_nav = count > 1 %}
    <div
      class="swiper logos-displayer-swiper {{
      show_nav
        ? "logos-displayer-swiper--has-nav"
        : ""
      }}"
    >
      <div class="swiper-wrapper">
        {% for item in component.items %}
          <div class="swiper-slide">
            {{ include("parts/cards/logos-card.twig", { is_last: loop.last }) }}
          </div>
        {% endfor %}
      </div>
      {% if show_nav %}
        <div class="hero-carousel-nav logos-displayer-nav border-b-0">
          <button
            class="swiper-button-prev"
            aria-label="{{ function("pll__", "Precedente") }}"
          >

          </button>
          <div class="swiper-pagination" role="tablist"></div>
          <button
            class="swiper-button-next"
            aria-label="{{ function("pll__", "Successivo") }}"
          >

          </button>
        </div>
      {% endif %}
    </div>
  {% endif %}
</section>
