{% extends "base.twig" %}

{% block hero %}
  {% set _archive_page = function("get_archive_page", "producers") %}
  {% if _archive_page and not function("get_field", "hide_hero", _archive_page.ID) %}
    {% set _hero_title = function("get_field", "hero_alt_title", _archive_page.ID) %}
    {% set _hero_style = function("get_field", "hero_title_style", _archive_page.ID) %}
    {{
      include(
        "components/hero/hero.twig",
        {
          hero_title: _hero_title ?: _archive_page.post_title,
          hero_title_style: _hero_style ?: "primary"
        }
      )
    }}
  {% endif %}
{% endblock hero %}

{% block content %}
  {% set count = posts|length %}
  {% set remainder_3col = count % 3 %}
  {% set filler_3col = remainder_3col > 0 ? 3 - remainder_3col : 0 %}
  {% set remainder_4col = count % 4 %}
  {% set filler_4col = remainder_4col > 0 ? 4 - remainder_4col : 0 %}
  {% set is_odd = count % 2 == 1 %}
  <div class="border-stroke 3xl:grid-cols-4 grid grid-cols-1 border-t md:grid-cols-2 xl:grid-cols-3">
    {% for item in posts %}
      {{ include("parts/cards/producers-card.twig") }}
    {% endfor %}
    {% if is_odd %}
      <div class="border-stroke col-span-1 border-b border-l xl:hidden"></div>
    {% endif %}
    {% if filler_3col > 0 %}
      {% for i in 1..filler_3col %}
        <div
          class="border-stroke 3xl:hidden col-span-1 hidden xl:block {{
          loop.first ? 'border-l' : ''
          }}"
        ></div>
      {% endfor %}
    {% endif %}
    {% if filler_4col > 0 %}
      {% for i in 1..filler_4col %}
        <div
          class="border-stroke 3xl:block col-span-1 hidden {{
          loop.first ? 'border-l' : ''
          }}"
        ></div>
      {% endfor %}
    {% endif %}
  </div>

  {% include "parts/pagination.twig" with {
    pagination: posts.pagination({ show_all: false, mid_size: 3, end_size: 2 })
  } %}

  {% set _archive_page = function("get_archive_page", "producers") %}
  {% set components = _archive_page ? function("get_field", "archive_components", _archive_page.ID) : null %}
  {% for component in components %}
    {% set layout = component.acf_fc_layout|replace({ "_": "-" }) %}
    {{
      include(
        "components/" ~ layout ~ "/" ~ layout ~ ".twig",
        { component: component }
      )
    }}
  {% endfor %}
{% endblock content %}
