{% extends "base.twig" %}

{% block hero %}
  {% set hero_title = post.title %}
  {% set hero_title_style = "news" %}
  {{ include("components/hero/hero.twig") }}
{% endblock hero %}

{% block content %}
  <article class="">
    <div class="flex flex-col gap-10 xl:w-2/3 xl:gap-12">
      {% if post.thumbnail %}
        {% set thumb_id = function("get_post_thumbnail_id", post.ID) %}
        {% set fp = thumb_id
          ? function("get_post_meta", thumb_id, "focalpoint", true)
          : null
        %}
        {% set fp_style = fp
          ? "object-position: " ~ ((fp.left * 100)|round) ~ "% "
            ~ ((fp.top * 100)|round)
            ~ "%;"
          : null
        %}
        <div class="aspect-video w-full overflow-hidden">
          <img
            src="{{ post.thumbnail.src("large") }}"
            alt="{{ post.thumbnail.alt }}"
            class="h-full w-full object-cover xl:pb-8"
            style="{{ fp_style }}"
          />
        </div>
      {% endif %}

      <div
        class="prose-content prose border-stroke max-w-none px-6 text-xl leading-[150%] text-black/80 xl:px-10"
      >
        {{ post.content }}
      </div>

      {{ include("parts/approfondimenti.twig") }}
    </div>
  </article>

  {% if related_ospitalita %}
    {{
      include(
        "components/card-displayer/card-displayer.twig",
        {
          component: {
            title: function("pll__", "Leggi anche"),
            title_class: "heading-h4 font-semibold",
            items: related_ospitalita,
            always_even: true
          }
        }
      )
    }}
  {% endif %}
{% endblock content %}
