{% extends "base.twig" %}

{% block hero %}
  {% set hero_title = post.title %}
  {% set hero_title_style = "news" %}
  {{ include("components/hero/hero.twig") }}
{% endblock hero %}

{% block content %}
  <article>
    <div class="xl:w-2/3">
      {% if post.content or post.thumbnail %}
        <div
          class="prose-content prose border-stroke max-w-none px-6 pb-10 text-xl leading-[150%] text-black/80 xl:px-10 xl:pb-12"
        >
          {% if post.thumbnail %}
            <img
              src="{{ post.thumbnail.src("large") }}"
              alt="{{ post.thumbnail.alt }}"
              class="not-prose mb-10 max-h-24 w-auto object-contain xl:mb-12"
            />
          {% endif %}
          {{ post.content }}
        </div>
      {% endif %}

      {{ include("parts/approfondimenti.twig") }}
    </div>
  </article>
{% endblock content %}
