<div class="bg-red mt-30 flex w-full flex-col flex-col-reverse xl:flex-row">
  {% if footer_image %}
    {% set fp =
      function("get_post_meta", footer_image.ID, "focalpoint", true)
    %}
    {% set fp_mobile = footer_image_mobile
      ? function("get_post_meta", footer_image_mobile.ID, "focalpoint", true)
      : null
    %}
    {% set fp_style = fp
      ? "object-position: " ~ ((fp.left * 100)|round) ~ "% "
        ~ ((fp.top * 100)|round)
        ~ "%;"
      : null
    %}
    {% set fp_mobile_style = fp_mobile
      ? "object-position: " ~ ((fp_mobile.left * 100)|round) ~ "% "
        ~ ((fp_mobile.top * 100)|round)
        ~ "%;"
      : null
    %}
    <div class="min-h-140 overflow-hidden xl:min-h-100 xl:w-1/2">
      <img
        src="{{ footer_image.url }}"
        alt="{{ footer_image.alt }}"
        class="h-full w-full object-cover {{
        footer_image_mobile
          ? "hidden md:block"
          : ""
        }}"
        style="{{ fp_style }}"
      />
      {% if footer_image_mobile %}
        <img
          src="{{ footer_image_mobile.url }}"
          alt="{{ footer_image_mobile.alt }}"
          class="h-full w-full object-cover md:hidden"
          style="{{ fp_mobile_style }}"
        />
      {% endif %}
    </div>
  {% endif %}
  <div class="bg-red flex flex-col gap-12 px-6 py-10 xl:w-1/2 xl:p-10">
    <div class="flex flex-col gap-6">
      <h6 class="heading-h6 font-semibold text-white">
        {{ newsletter_title }}
      </h6>
      {{ function("do_shortcode", newsletter_form_shortcode) }}
    </div>
    <div
      class="flex flex-col items-start justify-between gap-y-6 md:flex-row md:items-center"
    >
      <p class="text-xl font-semibold text-white">
        {{ newsletter_social_text }}
      </p>
      <div class="flex flex-wrap gap-4">
        {% set socials = [
          { url: social_instagram, icon: "icons/brands/instagram.svg" },
          { url: social_facebook, icon: "icons/brands/facebook.svg" },
          { url: social_youtube, icon: "icons/brands/youtube.svg" },
          { url: social_tiktok, icon: "icons/brands/tiktok.svg" },
          { url: social_x, icon: "icons/brands/x.svg" },
          { url: social_linkedin, icon: "icons/brands/linkedin.svg" },
          { url: social_telegram, icon: "icons/brands/telegram.svg" }
        ] %}
        {% for social in socials %}
          {% if social.url %}
            <a
              href="{{ social.url }}"
              target="_blank"
              rel="noopener noreferrer"
              class="text-white transition-opacity hover:opacity-80"
            >
              {{ include(social.icon)|attr({ class: "size-7" }) }}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
